# Dependencies
node_modules
node_modules

# Build output
dist
dist-ssr
*.local

# Variáveis de ambiente
.env
.env.local
.env.*.local
.env.production.local

# Vercel
.vercel
.vercelignore

# IDE
.vscode
.idea
*.swp
*.swo
